%ul
  %li
    %a{ href: '/', 'data-title' => 'HTML5 History API' } overview
  %li
    %a{ href: '/what-is-new' } what's new
  %li
    %a{ href: '/motivation' } motivation
  %li
    %a{ href: '/compatibility' } compatibility
  %li
    %a{ href: '/pushstate' } pushState
