%h2 Compatibility
%p
  You knew there'd be
  <a href="https://github.com/balupton/history.js/wiki/The-State-of-the-HTML5-History-API">problems</a>.
%p
  Which also leads us to the main
  %a{ href: 'https://github.com/balupton/history.js' } solution