%h2 What You Will Learn
%p By the end of this presentation you should be able to
%ul
  %li
    distinguish
    %strong what's new
    in the History API as of HTML5
  %li
    articulate the
    %strong motivation
    behind the changes
  %li
    understand browser
    %strong compatibility
    issues and solutions
  %li
    describe the arguments to the
    %strong pushState
    function
  %li code a web application that uses the HTML5 History API
