%h2 pushState
%p What we're really talking about.
%p
  %a{ href: 'https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history' } The MDN Docs
%p Summary, three arguments:
%ul
  %li a state object, store whatever we need
  %li a title string, doesn't really matter
  %li the path string we want to show in the browser address bar
